<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-3 widget">
				<h3 id="contactTitle" class="widget-title">{{ .Site.Params.contactTitleTranslation }}</h3>
				<div class="widget-body">
					<p>{{ .Site.Params.phone }}<br>
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
						<br>
						{{ .Site.Params.address }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">{{ .Site.Params.followMeTranslation }}</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
                        {{ range .Site.Params.social }}
                            {{ if .footer }}
                                <a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
                            {{ end }}
                        {{ end }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableTextWidget }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">{{ .Site.Params.footerTextBoxHeadline }}</h3>
				<div class="widget-body">
					{{ .Site.Params.footerTextBoxBody }}
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFormWidget }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">{{ .Site.Params.footerFormWidgetHeadline }}</h3>
				<div class="widget-body">
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#232323; clear:left; font:12px "Open sans", Helvetica, Arial, sans-serif;}
						#mc_embed_signup input.email{width:90%;}
					</style>
					<div id="mc_embed_signup">
					<form action="https://andrii-lazarenko.us19.list-manage.com/subscribe/post?u=cd41e88b6d873008c984f84c5&amp;id=e30a88a191" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
						
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cd41e88b6d873008c984f84c5_e30a88a191" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				</div>
			</div>
			{{ end }}

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>{{ .Site.Params.address }}</p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<br>
						Powered by: <a href="https://gohugo.io/" rel="poweredby">Hugo</a>
                    </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ partial "analyticstracking.html" . }}
</body>
</html>
